[2020-10-16 03:05] sayedihashimi opened #1 "Update readme to show how to add auth support"

[2020-10-16 03:20] sayedihashimi opened #2 "Show how to add docker support"

[2020-10-16 03:25] sayedihashimi opened #3 "Add an example of how to make changes and test locally"
Since you need to install templates with a .nupkg it will be helpful showing how users can make changes locally, and then see those changes in Visual Studio.

[2020-10-16 16:22] sayedihashimi opened #4 "Show how to open a file after project create"

[2020-11-03 10:13] RehanSaeed opened #5 "Show how to add a Choice Parameter Type"
I have the following symbol in my `template.json` file:

[code]

This shows as follows in the VS UI:

![image](https://user-images.githubusercontent.com/2270364/97972838-0e3f8380-1dbd-11eb-9ca0-be090d05ff2d.png)

How can I show the correct labels for the items in the dropdown? This is my `ide.host.json`:

[code]

When I remove the custom label `"text": "Source Control"` then I get this:

![image](

[2020-11-03 10:24] RehanSaeed opened #6 "Enable showing parameter descriptions in the New Project Dialog"
I have several custom parameters for which I have provided descriptions in my `template.json` file. This appear when using the CLI. However, in Visual Studio they do not. Is it possible to get them to show up?

![image](https://user-images.githubusercontent.com/2270364/97973862-a25e1a80-1dbe-11eb-90a2-0b1152b69dfc.png)

E.g. I have the following in `template.json` for the `Title` parameter:

[code

[2020-11-03 15:31] sayedihashimi commented on #6
Can you share the source files for the template?

[2020-11-03 15:36] RehanSaeed commented on #6
Sure, I have a PR up here to add VS support https://github.com/Dotnet-Boxed/Templates/pull/836

[2020-11-03 15:42] RehanSaeed opened #7 "Templates That Already Contain a Solution"
All my project templates contain a solution and multiple project files. When I create a project using VS, it creates a new solution for me and does not open the one in the template. Is there a way to hide and disable the 'Solution name' text box below?

![image](https://user-images.githubusercontent.com/2270364/98007013-cd5e6380-1dea-11eb-91ca-a5916aeb589f.png)

I've added VS support to my templat

[2020-11-03 15:44] RehanSaeed commented on #6
Also updated the issue above with more details about the description I'm talking about.

[2020-11-03 15:51] RehanSaeed opened #8 "The Target Framework"
In my `template.json` file I default the `Framework` to use `netstandard2.1` (see below), however the UI always shows `netcoreapp3.1` by default.

[code]

![image](https://user-images.githubusercontent.com/2270364/98008137-1e228c00-1dec-11eb-97e0-c800b79507aa.png)

Ideally, the UI should respect the `defaultValue` in the `template.json`.

[2020-11-03 17:29] sayedihashimi commented on #6
OK I see what you mean now. We do not currently have the ability to show descriptions for the parameters.

We are considering adding an info icon tooltip, would that work for you? Here is a sample mockup that I put together for your template. Would that work for you?

![info-icon](https://user-images.githubusercontent.com/1283154/98019699-1228d100-1dd0-11eb-9f61-22dd1cc7bc91.png)

cc @vijayrkn  @p

[2020-11-03 17:30] sayedihashimi commented on #7
What would be the expected behavior if the user has an existing solution and then adds your template into that solution?

[2020-11-03 18:43] sayedihashimi commented on #8
I think the default framework is picked by the IDE. I'm not sure if we have the capability for this yet.

The main developer for this area is currently out of office, I will discuss with him when he is back.

[2020-11-03 18:47] sayedihashimi opened #9 "There should be a way to group params for templates with lots of options"
See related issue #6 .
It would be nice to be able to group these parameters. I know that @KathleenDollard has been thinking to add some grouping support in the Template Engine. This seems like a good template to support that idea. If we do add that, we should add support in VS as well.

cc @vijayrkn  @phenning

[2020-11-03 18:48] sayedihashimi commented on #6
Added a new issue to track the grouping over at https://github.com/sayedihashimi/template-sample/issues/9

[2020-11-03 18:49] sayedihashimi commented on #8
FYI I changed the title

[2020-11-03 19:49] sayedihashimi commented on #5
It's working in my sample template, not sure why it's not working for you. Changes are in this branch https://github.com/sayedihashimi/template-sample/tree/2020.11.03/displayname.

![image](https://user-images.githubusercontent.com/1283154/98033643-d1d34e00-1de3-11eb-89ec-9f4bb6c0c733.png)

[2020-11-03 21:18] RehanSaeed commented on #7
I would expect VS to take the contents of the solution in the template, add it to the current solution, then delete the solution from the template.

Is this doable before release of this feature? I don't think my templates would be usable without it.

[2020-11-03 21:18] RehanSaeed commented on #6
The info tooltips would be perfect!

[2020-11-03 21:29] RehanSaeed commented on #5
As mentioned in https://github.com/sayedihashimi/template-sample/issues/8 the `Framework` parameter seems to be special cased, so it's drop down works.

If you have any other `choice` symbol types (See my `SourceControl` symbol above), then this does not work. In my first screen shot, the items in the drop down both just say `SourceControl` i.e. they repeat the symbol name.

[2020-11-03 21:30] sayedihashimi commented on #7
I don't think we would pursue merging the contents of the .sln on disk into the loaded solution. I think the best we could do is to search for project files and then load them.

For the case where a solution is not present, we should probably load the .sln file instead of the projects. I'll need to discuss with @phenning when he is back to work.

[2020-11-03 21:33] RehanSaeed commented on #7
Would there be some way for me to detect this and tell the user not to use the template with an existing solution?

That would be ideal.

[2020-11-03 21:39] sayedihashimi commented on #7
@RehanSaeed right now, I'd like to focus on getting the experience working when there is no existing solution file. I believe (correct me if I'm wrong), that will be the main usage of your template.

Here is what I'm thinking.

- In `template.json` the value for primaryOutputs should point to a .sln file
- In `template.json` set `$.tags.type` to `solution` (currently we only support `project` and

[2020-11-03 21:41] RehanSaeed commented on #7
That sounds like a sensible plan of action.

[2020-11-04 01:29] phenning commented on #9
VS initially had grouping in the UI in the early implementation - in fact the API surface still supports it.

All the controls which were added with the same group name were grouped under a common header in the UI.

I believe there were some concerns after their designers took a look at it, especially for groups which only contained one control - such as "Framework" - we had that as a separate gro

[2020-11-04 01:32] phenning commented on #9
@sayedihashimi The above was just for context. I think adding the grouping back to the UI would definitely provide some additional value, especially for certain types of templates.

[2020-11-04 01:42] phenning commented on #7
If we implement what you suggest above, I don't think we would need the warning in that case, would we?

I need to investigate this more after I get back, but we need to see if there are any issues with unloading the solution that was created for us by the IDE and then loading the one created by the template, especially around save/unload prompts.

[2020-11-04 02:12] sayedihashimi commented on #9
@phenning ok, we will discuss more when you are back. Try to take it easy during your time off :)

[2020-11-04 15:00] sayedihashimi commented on #6
FYI I changed the title

[2020-11-04 15:40] sayedihashimi commented on #7
FYI I have added an internal work item (ID: 1242270) to track this work.

[2020-11-04 17:04] RehanSaeed opened #10 "Are Item Templates Supported?"
Are Item Templates Supported? I've tried the files below and they don't work for me:

# template.json

[code]

Just realized I have the language set to C#. Not sure what should go there.

# ide.host.json

[code]

[2020-11-05 18:41] sayedihashimi commented on #10
They should be working. I haven't tried them myself though. We will need to wait until Phil comes back to take a look. I believe he is back on Monday.

[2020-11-13 16:57] sayedihashimi commented on #9
@RehanSaeed would it be possible for you to describe (or mockup) what an ideal solution for grouping looks like for your templates? I'm starting to plan this feature, and having your perspective would be great.

[2020-11-14 17:09] RehanSaeed commented on #9
Grouping might be useful for the CLI too, so would it make sense to add it to `template.json` instead of `ide.host.json`? I was thinking that a `groupName` property would be enough:

[code]

Any other symbol with a matching groupName would be displayed together under a title which displays the `groupName` itself.

[2020-11-16 23:10] sayedihashimi commented on #9
@RehanSaeed can you help me understand what groups you'd like to see in one of your boxed templates? I'm trying to come up with a real world example, so I can then create a mockup from it.

[2020-11-17 09:26] RehanSaeed commented on #9
I have some loose groupings in the README for each template e.g. [NuGet Template](https://github.com/Dotnet-Boxed/Templates/blob/main/Docs/NuGet.md). However, I might update them if I get tthis feature.

[2020-11-18 15:14] sayedihashimi commented on #9
@RehanSaeed thanks, the link you provided looks good. I should be able to use that to create my mockups.

[2020-11-19 22:35] sayedihashimi commented on #9
@RehanSaeed what do you think about the following proposal for grouping with your API template?
[2020.11.19-npd-grouping-params.pdf](https://github.com/sayedihashimi/template-sample/files/5570127/2020.11.19-npd-grouping-params.pdf)

[2020-11-20 08:40] RehanSaeed commented on #9
I hadn't thought about making the headings collapsible. Will they all be collapsed by default? That forces the user to make a lot of clicks to be able to see everything.

[2020-11-20 17:54] sayedihashimi commented on #9
@RehanSaeed I think we will add a property to indicate if the section is expanded or collapsed by default. Would you like for all the sections to be expanded by default or certain ones?

[2020-11-23 09:18] RehanSaeed commented on #9
If it's configurable, I don't think it matters too much what the default is. I'll leave that up to the UX designers.

[2020-11-23 11:15] RehanSaeed opened #11 "Framework vs TestFramework"
I have the following new `Framework` symbol but I also want to match up the target framework in the test project e.g.

- net5.0 -> net5.0
- netstandard2.1 -> net5.0
- netstandard2.0 -> net5.0
- netcoreapp3.1 -> netcoreapp3.1
- netcoreapp3.0 -> netcoreapp3.0
- netcoreapp2.2 -> netcoreapp2.2
- netcoreapp2.1 -> netcoreapp2.1
- netcoreapp2.0 -> netcoreapp2.0
- net48 -> net48
- net472 -> net472
- net47

[2020-11-23 13:22] #11 closed

[2020-12-04 20:08] sayedihashimi commented on #10
@RehanSaeed you still having issues with item templates?

[2020-12-07 10:38] RehanSaeed commented on #10
I don't see them appearing in VS.

[2020-12-07 17:03] sayedihashimi commented on #10
Can you point me to the NuGet pkg and the item templates that are not showing up?

[2020-12-08 08:27] RehanSaeed commented on #10
Same one as the project templates in https://www.nuget.org/packages/Boxed.Templates/.

[2020-12-11 14:53] musictopia2 opened #12 "Are solution templates supported"
There are many cases where several projects are needed at once.  An example of where its already done is blazor web assembly core hosted.  In that case, 3 projects are created each time.  That would be very important to be able to do.

[2020-12-11 17:34] sayedihashimi commented on #12
We are having a conversation about this, take a look at my proposal at https://github.com/sayedihashimi/template-sample/issues/7#issuecomment-721388006. Let's continue the discussion there, please let me know if that works for you. I'll close this issue now.

[2020-12-11 17:34] #12 closed

[2021-01-14 14:41] CodeChaser opened #13 "Need ide.host.json Reference Wiki"
Hello,

I have looked everywhere for this.  I even opened the schema to see if it would help.

In .vstemplate files there are 3 tags, "LanguageTag, ProjectTypeTag & PlatformTag.  Looking in the schema I came across uiFilters array.  That is just a guess, but how would I go about setting this in ide.host.json.

thx

**Update
Watching your video again, I heard you say "classifications" shows up wher

[2021-01-14 15:52] sayedihashimi commented on #13
For the language in the [template.json](https://github.com/sayedihashimi/template-sample/blob/main/src/Content/MyCommand/.template.config/template.json#L10). For platform and project type, it depends on what you are trying to achieve with these. As you mentioned if you populate `classifications` users can filter on the well known values in Visual Studio.

If you can tell me what you're trying to a

[2021-01-14 16:34] CodeChaser opened #14 "Helpful Info (VS IDE) .. Maybe Known"
Is this the best place to report discoveries and work arounds?
ide.host.json
- Does not work with "icon": "icon.**ico**"  not recognized.  Used a png extension no problem.

template.json
- "preferNameDirectory": true - did not add projects to solution, either existing or new
   - changed to "preferNameDirectory": false -> worked perfectly
   - added Solution folder first, projects showed up as exp

[2021-01-14 16:48] sayedihashimi commented on #14
For the icon element I [added a note](https://github.com/sayedihashimi/template-sample/commit/39d54d0760406e3ff6735f5f93d4921e72c9bd0f) in the readme to indicate it should be a `.png` file.

About the `preferNameDirectory`, that sounds like a new issue. Can you give some more info so that I can try to reproduce it on my end?

[2021-01-14 17:04] CodeChaser commented on #14
I missed the comment, sorry.

preferNameDirectory - I am still chasing, trying to figure out the behavior.  I will update here with "steps to recreate" once I flush it out.

[2021-01-15 03:03] CodeChaser commented on #14
History
=====================
VS2019 16.5 -> upgrade 16.8.4
The following list of problems maybe to do with installation in VM, no other options are available for testing at work

Behavior 1
================
1. preferNameDirectory="true" or "false" makes no difference
2. No solution create project
3. Solution is created
4. Projects are created but not added to Solution
5. Create solution first
6.

[2021-01-19 17:48] sayedihashimi commented on #14
@CodeChaser I'm having a hard time understanding what you have posted here. If you are having different issues, I think it's best to create different issues for specific things that are not working.

It sounds like one issue that you are having is with replacements not working correct. Those types of bugs should be filed over at https://github.com/dotnet/templating/issues.

[2021-01-19 18:00] CodeChaser commented on #14
Cool I give up.

[2021-02-05 08:55] jkarra2020 opened #15 "Issues while using the Choice parameter in the conditions"
Hello @sayedihashimi

I am working on creating some custom templates using the choice parameters and been having some issues.

Here is the scenario I am using the choice parameter for -
I want to add a choice parameter called Logging, and the choices it would take is NLog, SeriLog, Log4Net. Based on the dotnet new CLI cmd options (dotnet new mycustomtemplate --Logging "NLog"), I want to add the re

[2021-02-05 09:09] jkarra2020 commented on #15
Found your MyWebWithAuth sample, which solves my purpose. Thanks.

[2021-02-05 09:09] #15 closed

[2021-02-05 16:22] sayedihashimi commented on #15
Ok glad you figured it out

[2021-02-19 16:49] sayedihashimi opened #16 "Update to look for type='soluiton' and warn if guids are not being replaced"
Update to look for type='soluiton' and warn if guids are not being replaced

[2021-03-19 15:16] sayedihashimi commented on #16
It should be in 16.10, @phenning what preview will it be in?

[2021-03-22 09:26] RehanSaeed commented on #16
I've raised https://github.com/Dotnet-Boxed/Templates/pull/1017 to make this change.

Does the older VS 16.9 or the .NET 5 CLI handle `type="solution"` nicely?

[2021-03-22 09:28] RehanSaeed commented on #7
Duplicate of https://github.com/sayedihashimi/template-sample/issues/16

[2021-03-22 16:12] sayedihashimi commented on #7
@RehanSaeed #16 is a different issue. The idea with @16 is to update the analyzer to check for guid replacements in .sln files, and if not defined to raise a warning. I think with the implementation we have, we don't need to check for that any longer.

This issue is to discuss solution support in general. I think it's better to have the discussion on this issue, instead of 16.

Support for `type="

[2021-03-22 16:53] RehanSaeed commented on #7
Cool, in that case I'll wait for the official 16.10 release before deploying my change.

[2021-03-22 17:03] sayedihashimi commented on #7
@RehanSaeed when the preview comes out it would be great if you can try your template and let us know if you run into any issues.

[2021-04-09 12:51] RehanSaeed commented on #8
Do we still require the Framework symbol in 16.9 or 16.10?

[2021-04-09 17:02] sayedihashimi commented on #8
I think that fix is going into 16.10

[2021-04-12 22:23] #14 closed

[2021-04-12 22:24] sayedihashimi commented on #3
added

[2021-04-12 22:24] #3 closed

[2021-04-22 17:26] sayedihashimi opened #17 "Update readme to show how to properly handle guids in .sln files"

[2021-04-29 15:32] sayedihashimi opened #18 "Change error for missing ide.host.json to a warning"
Change error for missing ide.host.json to warning

[2021-04-29 17:10] sayedihashimi commented on #18
Fixed in https://github.com/sayedihashimi/template-sample/issues/18

[2021-04-29 17:10] #18 closed

[2021-04-29 17:47] archubbuck opened #19 "Using VSIX to distribute a solution template with discovery via the "Create a new project" interface"
It is our goal to be able to create a solution template that contains multiple projects, install that template using VSIX, and then access the solution template via the "Create a new project" interface.

Do you know when Microsoft will introduce support for accessing solution templates via the "Create a new project" window?

I used your example in this repository to create a solution template that

[2021-04-29 18:05] sayedihashimi commented on #19
@archubbuck solution support is in the latest previews of VS2019 v16.10.

In the readme of this repo this section should be helpful for your scenario https://github.com/sayedihashimi/template-sample#how-to-ship-a-template-inside-of-a-visual-studio-extension-vsix, and there is a sample at https://github.com/sayedihashimi/template-sample/tree/main/src/Content/SolutionTemplate

Please try it with the

[2021-04-29 18:05] #19 closed

[2021-05-02 11:08] nils-a opened #20 "Are there more prerequisites to the image?"
Given prerequisites are:
* `png`
* located in, or under, the `.template.config`

However, my image looks "inverted", somehow.

What it looks like:
![image](https://user-images.githubusercontent.com/349188/116810776-f36c8280-ab45-11eb-82b1-ae398d485b79.png)

What I would expect:
![image](https://user-images.githubusercontent.com/349188/116810804-14cd6e80-ab46-11eb-99c7-e8127afd68bd.png)

Informatio

[2021-05-02 11:33] nils-a opened #21 "Is there a way to modify the title of the template as shown in VS?"
Currently my title looks like this:

![image](https://user-images.githubusercontent.com/349188/116811519-1dc03f00-ab4a-11eb-9fde-b70d2508de32.png)

Which seems to be something like `$name ($author)` - however I don't see any other template containing the author field.
(The length of our author-filed makes this a bit more.. "ugly")

So: Is there a way to customize the appearance of that section?

[2021-05-02 18:40] sayedihashimi commented on #21
I think it comes from the authors, or owners, listed in the NuGet package itself. We don't have a way to customize this. We've never seen such a long list of authors.

[2021-05-02 18:40] sayedihashimi commented on #20
@phenning any ideas?

[2021-05-02 19:26] nils-a commented on #21
Ok, thanks.

[2021-05-02 19:26] #21 closed

[2021-05-02 23:00] phenning commented on #20
Not sure what would be causing that. Maybe compare them to the PNGs that are in the ASP NET core repo?  We just load them, and pass them to the IDE as a base 64 encoded strings (this was due to Codespaces requirements.

[2021-05-03 20:56] nils-a commented on #20
Fun Fact: The image is fine - some of the colors are not. The images changes with the color scheme of VS:

Blue:
![image](https://user-images.githubusercontent.com/349188/116930303-e17f0280-ac5f-11eb-92f1-607386e2ac18.png)

Light:
![image](https://user-images.githubusercontent.com/349188/116930370-fbb8e080-ac5f-11eb-9b60-ce6afe3d9b0a.png)

Dark:
![image](https://user-images.githubusercontent.com/3

[2021-05-03 22:02] sayedihashimi commented on #20
Hi @nils-a, my team isn't directly responsible for rendering the image. That is taken care of for us by the New Project Dialog. I think the best thing to do would be to [Report a problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019). It may be helpful to them to have your sample template so that they can try it out. They may have some g

[2021-05-03 22:05] #13 closed

[2021-05-03 22:10] nils-a commented on #20
I really haven't had much luck with that "Report a problem" feature. I'll give it another try.

[2021-05-04 00:20] sayedihashimi commented on #20
If you share the URL of the issue, I can try to move it forward internally.

[2021-05-04 06:21] nils-a commented on #20
I created it here: https://developercommunity.visualstudio.com/t/images-added-to-net-clr-templates-are-rendered-dif/1412764

[2021-05-04 12:20] nils-a commented on #20
Interestingly enough: If I *do not* use a `png` and instead use the `ico` from the old `vsix` project the problem is gone and the image looks good. 🎉

[2021-05-04 13:18] nils-a commented on #10
Sorry to jump on this issue. Is there any news?

[2021-05-04 15:49] sayedihashimi commented on #10
Sorry I thought that I replied here, Item Templates are not supported yet.

[2021-05-04 16:02] nils-a commented on #10
So... Is there a feature-request we can vote on? 😉

[2021-05-06 20:18] nils-a opened #22 "adding a non-existing TFM in the Framework symbol choices breaks template creation"
I wanted to do something "special" so I created the following `symbol` for `Framework`:

[code]

While this works perfectly fine in CLI, VS "chokes" on building the options page and freezes.

Removing the "all" choice fixes the problem.

While I would love to have the above working I can live with a workaround. However, I feel that VS should not freeze on incorrect input.

[2021-05-06 21:11] sayedihashimi commented on #22
@nils-a thanks for the report, would you happen to have a nupkg we can test with?

@phenning report of a VS hang.

[2021-05-06 21:23] nils-a commented on #22
This is the broken version.
[Cake.Templates.0.0.1.nupkg.zip](https://github.com/sayedihashimi/template-sample/files/6437722/Cake.Templates.0.0.1.nupkg.zip)

[2021-05-06 21:30] sayedihashimi commented on #22
I'm able to repro this issue.

@phenning internal work item id is 1324100

[2021-05-06 21:59] nils-a opened #23 "Describe the migration path from old VSIX to .NET CLI"
especially, https://devblogs.microsoft.com/dotnet/net-cli-templates-in-visual-studio/ states

My expectation when reading that was, that the .NET CLI templates would "hide" the old VSIX templates if I got the IDs right.

First question: Is that true?

And if so, which IDs should be synced? I tried setting `$.identity` in `template.json` to `TemplateID` from the VSIX `.vstemplate` but that's not it

[2021-05-07 09:19] RehanSaeed commented on #22
Related https://github.com/sayedihashimi/template-sample/issues/8

[2021-05-17 16:56] archubbuck commented on #19
Thanks @sayedihashimi. I've been able to get this working in Visual Studio Preview.

Do you know when VS2019 v16.10 will be GA?

[2021-05-17 17:07] sayedihashimi commented on #19
I am not at liberty to say specifically when it will be released, but it's not too far from now. Can we close this issue, or is there more that needs to be addressed?

[2021-05-17 17:32] archubbuck commented on #19
Thanks @sayedihashimi and I understand the caution. My team will be glad to hear this is a feature that will be available very soon.

[2021-05-24 17:54] sayedihashimi commented on #23
Sorry for the delay in responding here. If you have a VSIX which has a vstemplate, you can continue to use that if you like. vstemplate technology isn't going anywhere, and is still supported. Most templates in Visual Studio are built with the vstemplate technology.
If you want to switch to Template Engine (dotnet new) templates, I would recommend releasing a new update of the existing VSIX which

[2021-05-24 17:54] sayedihashimi commented on #22
This has been fixed and will be included in the next VS preview.

[2021-05-24 17:54] #22 closed

[2021-05-24 17:55] sayedihashimi commented on #17
added at https://github.com/sayedihashimi/template-sample#how-to-create-a-multi-project-solution-template

[2021-05-24 17:55] #17 closed

[2021-05-24 18:10] nils-a commented on #23
The point I really wanted to know was:

https://devblogs.microsoft.com/dotnet/net-cli-templates-in-visual-studio/ states

Which IDs should be placed where?
I tried setting `$.identity` in `template.json` to `TemplateID` from the VSIX `.vstemplate` but that's not it.

[2021-05-24 18:28] sayedihashimi commented on #23
@phenning can you clarify this?

[2021-05-25 08:37] RehanSaeed commented on #17
If we don't do this, is there any negative side affects?

[2021-05-25 17:38] sayedihashimi commented on #17
@RehanSaeed If a user tries to add multiple projects into the same solution with the same ID, the behavior is undefined. There can also be issues if users work on different projects that have the same ID but a different source path. I'm not sure about all the details about what can go wrong, but it's always best to ensure that the project IDs are unique. It's pretty simple to get the GUIDs updated

[2021-05-25 19:14] archubbuck opened #24 "Add a private extension gallery to Visual Studio for multiple devices in the organization"
Hi @sayedihashimi,

I am searching for a solution to update multiple devices in the organization to add a private extension gallery to Visual Studio. We would prefer to be able to update all devices with this setting in the background so that our developers don't need to manually add the gallery to their Visual Studio installation.

In my research, I've seen that registry keys may have been used a

[2021-05-25 19:54] archubbuck commented on #24
For reference, this is the screen I'm referring to:
![image](https://user-images.githubusercontent.com/3529902/119560068-795ca180-bd71-11eb-97d9-f3e211849b6f.png)

[2021-05-25 20:10] sayedihashimi commented on #24
@archubbuck I'm really not sure, maybe @madskristensen knows?

[2021-05-25 20:16] madskristensen commented on #24
Here's how to add those registry keys from any extension: https://github.com/madskristensen/VsixGalleryExtension/blob/master/src/feed.pkgdef

[2021-05-25 21:16] archubbuck commented on #24
Thanks @madskristensen. I'll take a look.

[2021-05-25 21:27] archubbuck commented on #24
@madskristensen, please forgive my ignorance but is there a tool or utility that can be used to apply the pkgdef file?

[2021-05-27 15:52] sayedihashimi opened #25 "Add error when there are multiple short names"

[2021-05-27 17:45] archubbuck commented on #24
@madskristensen, do you have any insight on the above?

[2021-05-27 18:11] sayedihashimi opened #26 "Check for casing of elements"
We know that protobuf has shortName with the wrong casing. We should look for other properties as well.

[2021-05-27 18:54] khalidabuhakmeh opened #27 "Validate `template.json` files against JSON Schema"
All `template.json` files in a template should be validated and pass validation against `http://json.schemastore.org/template`. Currently, there are some validation issues across templates, ranging from the incorrect casing of properties, comments, and more.

## Demo Code - Validate Against JSON Schema

This sample uses the following NuGet packages:

- Newtonsoft.Json
- Newtonsoft.Json.Schema
- Sp

[2021-05-27 20:55] wlidha81 opened #28 "Choice parameters are not well binded in Visual Studio Template"
Hello,
i recently worked on a custom template for vs studio 2019, where i have set some custom choice parameters.
with Cli mode every thing works perfectly. Now when i tried to integrate the template in VStudio (ide.host.json), i have referenced the choice parameter name from ide.host.json.
I've noticed that the template wizard displays a drop down list correctly but items values and texts are not

[2021-05-27 20:58] sayedihashimi commented on #28
Please share your template, or a new one that shows the same bug. I'll investigate.

[2021-05-27 22:06] wlidha81 commented on #28
- in template.json

"symbols": {

"Department": {
      "type": "parameter",
      "description": "The department.",
      "datatype": "choice",
      "choices": [
        {
          "choice": "IT",
          "description": "IT department"
        },
        {
          "choice": "HR",
          "description": "HR department"
        }
      ],
      "replaces": "DepartmentName",
      "defaultVa

[2021-05-27 22:38] wlidha81 commented on #28
i've found the issue, in ide.host.json i should not mention "name" property. We should only specify the id + isVisible for choice paramters.
I'll close the issue sorry for that. :)

[2021-05-27 22:38] #28 closed

[2021-05-28 02:27] sayedihashimi commented on #27
@khalidabuhakmeh I don't think I can use `Newtonsoft.Json.Schema`, I would have to purchase a license for that. I looked at this when I started working on this tool. I also looked for alternatives and I unfortunately wasn't able to find any that I could use.
The license does have an OSS specific support, but if I'm not mistaken I would have to use the AGPL license here to leverage that.
I was able

[2021-05-28 04:13] sayedihashimi commented on #26
I have added support for this in commit https://github.com/sayedihashimi/dotnet-new-web/commit/3014d206464fddf2ddafbdb606516f8d21b85f4c.

Published to nuget.org in version `1.0.6` (should be ready there in a few minutes after this comment) https://www.nuget.org/packages/sayedha.template.command/1.0.6

[2021-05-28 04:13] #26 closed

[2021-05-28 11:21] RehanSaeed opened #29 "VS 16.10 Bug - Creates Empty Solution"
When I run the following command, everything works:

[code]

If I select the same options in VS 16.10's new UI, VS opens a blank solution and no files are output to disk except the solution file. How can I debug what went wrong?

Is this the right place for this bug or is it dotnet/templating?

[2021-05-28 14:49] ivanpovazan opened #30 "[Q] Is there a way of converting .vstemplate files?"
I was wondering is there a way to generate template.json from an existing .vstemplate file?
And if there isn't, what would be the preferred approach of upgrading them?

To provide you with more context:
We have a Visual Studio extension which provides custom project templates targeting .NET framework which need to be extended/upgraded to target .NET core as well.

[2021-05-28 15:40] khalidabuhakmeh commented on #27
Here is an updated version using `NJsonSchema`

[code]

With the output of.

[code]

[2021-05-29 22:14] sayedihashimi commented on #29
Do you have any required parameters that don't have a default value?

[2021-05-29 22:19] sayedihashimi commented on #30
Hi @ivanpovazan there isn't any way to convert from a vstemplate template to a Template Engine (dotnet new) style template. I think the easiest thing to do is to create a new project from your template, and then add the `.template.config` folder along with `template.json` and other files that you need.

[2021-05-30 03:56] lohithgn commented on #29
@sayedihashimi  @RehanSaeed

I just tried this with VS Community 2019 Preview V16.11.0 Preview 1.0.  I used Web API template.

@sayedihashimi question intrigued me. The template did not work for me the first time I tried. First time I tried - I had entered everything except Application Insight field's value.  I tried second time and this time I entered a dummy value to application insights. And I

[2021-05-31 12:35] ivanpovazan commented on #30
Thank you for the answer!

[2021-05-31 12:35] #30 closed

[2021-06-01 13:56] archubbuck commented on #24
@madskristensen, to avoid unwanted notifications, this will be the last time that I mention you but if you could provide me with any insight on this I would greatly appreciate it.

[2021-06-01 15:08] madskristensen commented on #24
Just drop the .pkgdef in your VSIX project and register it as a Package assets in the .vsixmanifest file

[2021-06-05 16:27] bboy77 commented on #5
I have the exact same issue as well for a custom symbol using the choice datatype. The choices show up fine when adding the symbol to a dotnetcli.host.json  file and using dotnet new. After template creation the choice shows up fine in all files that are part of the template.

However, only the text field is present in the IDE drop-down. Other non-choice symbols are working fine.

Is there any upd

[2021-06-06 11:03] Capsup opened #31 "Solution template - making sure solution-level items exist in same folder as .sln"
I have a multi-project solution template and with the recent change to 16.10, I can now use solution-type templates and they work great in the .NET CLI.
However, in a Visual Studio host, I run into an issue if the user selects _not_ to have the solution and project file be in the same location, in the Visual Studio creation dialog.

I have a .editorconfig and nuget.config files that _needs_ to be

[2021-06-06 15:44] archubbuck commented on #24
@madskristensen correct me if I'm wrong here but that would only be beneficial to users if we were planning on programmatically installing this via the Visual Studio extension installer. What we're trying to accomplish is programmatically adding the custom extension gallery to their list of feeds before anything is installed at all.

[2021-06-07 07:27] RehanSaeed commented on #31
I have the same problem, it would be nice to be able to disable that checkbox.

[2021-06-07 17:38] sayedihashimi commented on #31
@phenning any ideas?

[2021-06-07 18:52] Capsup commented on #31
For me, it is not important to suppress that dialog, I think it serves an actual purpose. The most important for me is to have the option of interacting with this primary output solution. Currently, if that is unchecked, there is a folder generated inside the target path, wherein there is a _new_ folder, along with the solution file. Then inside this extra new folder, is the contents of my solutio

[2021-06-08 14:15] Capsup commented on #5
Encountered exactly the same issue with a "choice" symbol, that _isn't_ framework. @sayedihashimi

[2021-06-11 14:21] h3rmanj commented on #7
I'm currently on 16.10.1, and I can't find templates with "type": "solution". Did the feature not ship?

[2021-06-11 16:28] sayedihashimi commented on #7
@h3rmanj there should not be any such limitations, please share your nuget package so that I can take a look. Also if you haven't already run my template analyzer on your nuget package and see if it gives you any errors/warnings https://github.com/sayedihashimi/template-sample#template-analyzer

[2021-06-11 17:26] h3rmanj commented on #7
It's [Intility.Templates](https://www.nuget.org/packages/Intility.Templates/), which should contain two templates; `iwebapi` (solution) and `iwebapiproject` (project). Running the analyzer I get the following warning for the template with `"type": "solution"`:
`WARNING: Unable to determine if the template is for a project or item (file), assuming it is a project template`

I'm able to list them ou

[2021-06-11 18:02] sayedihashimi commented on #7
@h3rmanj I updated the analyzer, there was a piece of code that wasn't updated for solution support.

The reason why you're only seeing one of your templates is because the value for `groupIdentity` is the same. They should be unique. `groupIdentity` should be the same when you want multiple templates to be represented as the same template, and then differentiated by parameters passed by the user.

[2021-06-11 19:06] sayedihashimi commented on #7
@h3rmanj forgot to mention, I published version `1.0.7` of the analyzer that should work with solution templates now.

[2021-06-11 21:16] h3rmanj commented on #7
Thanks! No warnings now 👍 Would be cool if it showed info when multiple templates use same `groupIdentity` as well, if it's possible. I'll stop noising this issue now however 🙂

[2021-06-11 21:32] sayedihashimi commented on #7
@h3rmanj it's totally valid for more than one template to have the same `groupIdentity` value, it's designed for that actually. I gave a valid scenario for it in one of my previous comments. In order to properly check for that I'd have to know the intent of the template author.

[2021-06-11 21:49] h3rmanj commented on #7
Yeah I realize that, but it's hard to come by info on all these options. I just copied the default aspnetcore one without knowing to much. This repo and tool has been insanely useful, thought it would be a nice addition for debugging. I meant info, as in not warning/error, just to make that clear. But it's up to you if that's something you'd like the tool to do.

[2021-06-11 22:58] sayedihashimi commented on #7
@h3rmanj thanks for the comments. I agree that docs are an issue. Kathleen Dollard, who owns the Template Engine and dotnet new, is working on updating the docs. I’m going to be moving these docs over to docs.microsoft.com as well.

Your suggestion of an info message is good. Issue is that the analyzer currently analyzes a single template and has no knowledge of previous templates. I’m hoping that

[2021-06-12 12:24] RehanSaeed commented on #7
It seems there are a few people who are not seeing templates appear in VS 16.10:

https://github.com/RehanSaeed/rehansaeed.github.io/issues/359

[2021-06-13 23:12] bugrakosen opened #32 "Solution Template Bug"
Hi,

I try to create my own solution template. I'm facing an infuriating bug or my mistake. I've watched this [mini serie](https://www.youtube.com/watch?v=H_pqfeRgTYw&list=PLBWnJhOsSsxGdqct18m4hr5Sk4ACv06hV&index=7&t=1s) on youtube and i read the [documentation](https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates) . Then i applied same things my project. I've updated my template to

[2021-06-14 00:48] sayedihashimi commented on #32
Did you run the analyzer to see if it reports any errors/warnings?

[2021-06-14 01:03] bugrakosen commented on #32
Yes i ran it and all fine. I forgot to mention that story.

![Capture](https://user-images.githubusercontent.com/32344242/121827629-6cbecf80-ccc5-11eb-9b1d-6f47d4d823ac.PNG)

[2021-06-14 14:39] h3rmanj commented on #32
Seems to me that the problem is how it's packed. You need a parent .csproj or .nuspec which describes the package, and the template folder needs to be included as content in the package.

See https://docs.microsoft.com/en-us/dotnet/core/tutorials/cli-templates-create-template-pack#build-and-install for reference folder structure and package `csproj` example.

[2021-06-14 16:00] phenning commented on #31
I think what we would do for new solution projects only (IsExclusive = true) - not new projects being added to an existing solution  we would just always treat this option as being checked by default. This would result in:

c:\source\Foo\Foo.sln (generated by VS)
c:\source\Foo\your outputs here - note that you would want to make sure that your generated sln does not exactly match the sourceName de

[2021-06-14 16:11] sayedihashimi commented on #31
@phenning if I understand correct, the issue occurs when `sourceName` and the file name for the solution file matches exactly (minus the extension). Seems like we should add a warning to the analyzer to detect and warn in this case, is that correct?

[2021-06-14 16:53] sayedihashimi commented on #32
@bugrakosen can you share the template?

[2021-06-14 17:11] bugrakosen commented on #32
That is my solution. I finally figured out how to pack my solution. Thank you for your helps.

[2021-06-14 17:11] #32 closed

[2021-06-14 18:26] sayedihashimi commented on #5
Thanks, I understand that Choice parameters cannot have customized labels in VS. I've filed an internal bug for this, ID is 1342518.

[2021-06-22 12:31] phenning commented on #5
This should be fixed in the current Preview 2 release of 16.11.

[2021-06-22 13:37] RehanSaeed commented on #5
@phenning Is there an example of how to implement the custom label?

[2021-06-22 16:26] phenning commented on #5
We basically fixed the bug where if you would have a host override for the choice control itself, we would apply the same override to each choice parameter as well. This bug is fixed, so you can now just provide the override of the choice parameter name itself, and if you do not supply overrides for each individual choice, we will just use what is defined in template.json.

You can provide overrid

[2021-06-22 22:50] Graicc opened #33 "Additional information dialogue in Visual Studio is empty when Framework is not defined in symbols"
Without Framework symbol in `template.json`, the "Additional information" tab in Visual Studio (Community 2019 Version 16.8.3) is blank, despite the `ide.host.json` file containing info:
![image](https://user-images.githubusercontent.com/33105645/123009180-3f8bb480-d38a-11eb-8bdc-46fa401bee98.png)

Adding
[code]
under symbols in `template.json` fixes the issue, and the "Additional information" tab

[2021-06-23 02:56] sayedihashimi commented on #33
This has been fixed in later releases of Visual Studio. I know for sure it’s in 16.10, but maybe also 16.9.

[2021-06-23 13:49] sayedihashimi opened #34 "Update analyzer to check if sln name matches sourceName"
See https://github.com/dotnet/templating/issues/3282

[2021-07-06 17:35] sayedihashimi commented on #5
FYI this should be fixed in the next preview

[2021-07-07 16:54] sayedihashimi commented on #33
I'm closing this because this should be fixed in the latest release, if you are still having issues with the latest release, please reopen this issue.

[2021-07-07 16:54] #33 closed

[2021-07-07 18:02] bboy77 commented on #5
See below

I am looking to replace "LicenseIdentifier" text with "License Identifier". The choices still only appear if I remove the "name" parameter in ide.host.json. The choices show fine but I wanted the display name of the parameter "LicenseIdentifier" in VS to have the space - "License Identifier".

Adding the choices in ide.host.json made no difference in allowing the space to show .

templa

[2021-07-07 18:09] bboy77 commented on #5
this provides the same result as above
[code]

[2021-07-07 18:40] sayedihashimi commented on #5
@bboy77 the fix is in but it hasn't been released yet. It should be in the next preview.

[2021-07-08 15:33] sayedihashimi opened #36 "Add warning for https://github.com/dotnet/templating/issues/3325"
Add warning for https://github.com/dotnet/templating/issues/3325

[2021-07-09 13:38] vondwater commented on #19
Hi @sayedihashimi,

Sorry for responding on this closed issue but I'm experiencing some troubles with creating a vsix.

I'm trying to create a vsix project to install the templates but the templates are not shown after installation when I try to create a new project from it. I already tried with the vsix sample project in the repository but I have no luck with that either.

Am I doing something wr

[2021-07-09 15:46] bboy77 commented on #5
I found a workaround. If you add a space in the property name itself, it works.

![image](https://user-images.githubusercontent.com/74476132/125104391-f3878200-e0a2-11eb-94bb-5b3c3419b59b.png)

template.json
[code]

ide.host.json
[code]

[2021-07-09 16:57] sayedihashimi commented on #19
@vondwater can you share the vsix? I will try it out.

[2021-07-09 17:24] bboy77 commented on #5
In addition to my post above, a dotnetcli.host.json file should be added to the .template.config folder. This is need for the display value of a `property` to be the same in cli and vs.

dotnetcli.host.json
[code]

[2021-07-12 07:51] vondwater commented on #19
Hi @sayedihashimi, I'm sorry for the late response.
You can find the vsix and .nupkg here:
shorturl.at/rGL46

[2021-07-12 15:43] sayedihashimi commented on #19
@vondwater I'm not seeing any content at that URL, can you check it?

[2021-07-12 16:35] vondwater commented on #19
I'm sorry, maybe this link then:
https://abiware-my.sharepoint.com/:f:/g/personal/jvdw_abiware_be/EsoCdz8qb4pDucSYxYmN2b0BIHgKF_kOUJNZAsNnBVbx4A?e=flRwa7

[2021-07-12 16:46] sayedihashimi commented on #19
@vondwater did you follow all the steps listed at https://github.com/sayedihashimi/template-sample#adding-a-pkgdef-file? I'm not seeing the `Templates.pkgdef` file. If you added this file to your project, but it's not included in the generated vsix make sure that the `Build Action` is set to `Content` for the pkgdef file. See the image below.

![image](https://user-images.githubusercontent.com/128

[2021-07-13 09:34] vondwater commented on #19
@sayedihashimi I have provided the solution in that shared folder on onedrive. I've put that .pkgdef file in my solution and also changed the build action to 'Content'.
But after installing the vsix I still don't see the project template.

[2021-07-13 17:16] sayedihashimi opened #37 "VSIX not working"
The VSIX at https://www.dropbox.com/s/1hvvk6p7buuk3yy/MicroService.zip?dl=0 looks like it has all the right content to work. I couldn't figure out why it's not working.

@phenning can you take a look to see what's going on with this vsix?

This issue is a continuation of the discussion at the bottom of https://github.com/sayedihashimi/template-sample/issues/19 with @vondwater.

@vondwater FYI from

[2021-07-13 17:22] sayedihashimi commented on #19
@vondwater let's move the discussion to a new issue that I just created https://github.com/sayedihashimi/template-sample/issues/37.

[2021-07-14 17:29] bboy77 opened #38 "Solution Template: Open file in editor"
When creating a project template, Visual Studio opens one or more files  using the primaryOutputs and postActions properties.

This only works in a solution template when the files are at the same level as the solution file. If a project or multiple projects are nested, specific files are not opened.

[2021-07-14 17:33] sayedihashimi commented on #38
Hi @bboy77 this feedback is better suited for the VS Dev community. It would be great if you could use [Report a Problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019) to report this so that we can track it.

[2021-07-14 17:33] #38 closed

[2021-07-14 23:12] phenning commented on #37
The version currently on drop box worked for me:

![image](https://user-images.githubusercontent.com/2433750/125704411-f0ff15b1-6311-4173-bc4e-9fa56e8a56c5.png)

[2021-07-14 23:14] phenning commented on #37
Note that it worked both on the current 16.10 and on the 16.11 preview.

[2021-07-15 00:46] sayedihashimi commented on #37
Thanks Phil, I will give it another shot tomorrow and see if it appears or not.

[2021-07-15 14:26] vondwater commented on #37
@sayedihashimi I also successfully installed the project template like @phenning mentioned. So the only thing I forgot was the import in vsix option on the pkgdef file?

Thanks already for the effort!

[2021-07-15 15:03] sayedihashimi opened #39 "Add support for analyzing vsix files"
Add support for analyzing vsix files

[2021-07-15 16:34] sayedihashimi commented on #37
@vondwater great to hear. I'll go ahead an close this out. Yes the only change that I made was to mark the Templates.pkgdef as IncludeInVSIX. I'll get that added to the readme.

[2021-07-15 16:34] #37 closed

[2021-08-02 08:16] nils-a commented on #20
@sayedihashimi I don't like to say "I told you so" but, as I said: That feedback forum has never been any help for me whatsoever.

 https://developercommunity.visualstudio.com/t/images-added-to-net-clr-templates-are-rendered-dif/1412764?from=email&viewtype=all#T-ND1492187

[2021-08-04 12:55] wdorsett84 opened #40 "Unable to see new project template in Visual Studio"
I'm working on creation a solution template with multiple projects but I am not able to see the new template in Visual Studio 2019/2022 Preview and VS for Mac New dialog. I tried using the **sayedmulti** template in this repo and it's also not displayed in the new dialog. I've followed the Common Issues in the readme but to no luck. The template does show up in dotnet cli and Rider though. Are the

[2021-08-04 16:11] wdorsett84 commented on #40
@sayedihashimi I am installing the template using the nuget package (sorry). I just illustrated the folder structure as above. I build the nuget package from the nuspec file mentioned from your visual studio toolbox mini series. Using the template in your repo only exposes the **sayedweb** template and the **sayedtool** template. The other two templates aren't displayed in VS or VS for Mac. I've r

[2021-08-04 16:29] sayedihashimi commented on #40
@wdorsett84 what version of VS are you using? Make sure that the option is enabled in Preview Features https://github.com/sayedihashimi/template-sample#how-to-enable-cli-templates-in-visual-studio-and-visual-studio-for-mac. You'll also need to restart VS after running `dotnet new --install [path to .nupkg]`. If that doesn't work, please share your .nupkg file so that I can try it out to see what's

[2021-08-04 16:51] wdorsett84 commented on #40
@sayedihashimi Here are the versions:
Visual Studio 2019 Version 16.10.3
Visual Studio 2022 Version 17.0.0 Preview 2.0
Visual Studio 2019 for Mac Version 8.9.5 (build 4)

The package can be found [here](https://www.dropbox.com/s/g9atnhtr1klqtzp/Raptor.Platform.Project.Templates.1.0.0.nupkg?dl=0)

[2021-08-04 17:34] sayedihashimi commented on #40
@wdorsett84 the template is appearing fine for me in VS2022 Preview 2 after I installed with dotnet new and restarted Visual Studio. I did notice that I wasn't able to create the project in VS though, it crashes for some reason. I've filed an internal bug, hopefully @phenning can take a look at that soon to see what's happening.

I'm not sure why it's not appearing for you. Can you verify that you

[2021-08-04 19:15] wdorsett84 commented on #40
@sayedihashimi As part of my template, I restore the packages and some packages are on a private feed that requires authentication. Authentication would fail after dotnet new if you don't have authorization to access the private feed. Could that be the reason it's not showing up in VS? Should I remove that action from the template?

[2021-08-04 20:01] sayedihashimi commented on #40
@wdorsett84 that is likely related, but it still shouldn't crash VS. Phil is taking a look, and we will get back with more details soon.

[2021-08-06 10:24] VaclavElias commented on #40
I have got the same problem, I installed the local package as mentioned above by @wdorsett84, both my package and yours is appearing in the console, and it is working from the dotnet cli but they don't appear in the Visual Studio Create a new project dialog. I also enabled it in the Preview Features.

![image](https://user-images.githubusercontent.com/4528464/128495697-562ddd2f-3679-4972-b55f-bc31

[2021-08-06 11:40] phenning commented on #40
I haven’t had a chance to look at your specific package as of yet. I plan on doing so today.

However, what is happening as far as general visibility could be caused by if you have NET 6 preview installed and are installing the templates into that hive.  In 16.10 the NET 6 hive will not be recognized as 16.10 is not the minimum version for NET 6.  You can pin to the best version of NET 5 you have

[2021-08-06 12:04] VaclavElias commented on #40
Thanks @phenning.

I can confirm that by adding global.json and specifying 5.0.302 I can now see the template in the Visual Studio 2019. It was defaulting to .NET 6 as you mentioned because I also have Visual Studio 2022 installed (I am also VS fan 😂).

[2021-08-06 15:15] phenning commented on #40
@wdorsett84 I can't grab the template pack off that drop box link for some reason. Are you perhaps having the same problem with .NET 6 that is preventing it from being shown in Visual Studio 2019? Or do you perhaps have it installed to an entirely different pinned SDK?

If you can fix the link to the template pack, I can investigate why Sayed was seeing a crash on creation.

[2021-08-06 15:16] sayedihashimi commented on #40
@phenning im pretty sure that I attached it to the AzDo bug.

[2021-08-06 15:39] phenning commented on #40
@sayedihashimi  you did. I was able to install it and see it both in VS 2022 Preview 3 and in 2019 16.11 No crash in either case when trying to create the project.

@wdorsett84  I have another thought as to why you may not be seeing the template in Visual Studio 2022 Preview 2.

I noticed your template targetted net 5.0, but Visual Studio by default only chooses NET 6 in Preview 2.

We made a chan

[2021-08-08 13:29] wdorsett84 commented on #40
Thanks @phenning

I too can confirm that the global.json fixed the issue with Visual Studio 2019 so that's great. However, I have Net 5.0 runtime enabled under the Visual Studio 2022 install but still the template is not displayed. It's also not displayed on VS for Mac.

Since the template is now displayed in Visual Studio 2019, Jetbrains Rider and dotnet cli this gets me past my initial issue. Ho

[2021-08-12 18:53] nils-a commented on #23
@phenning gentle ping

[2021-08-26 15:17] sayedihashimi opened #41 "Update template analyzer to double check defaultValue for choice param matches casing of a param"

[2021-11-05 14:35] RehanSaeed commented on #6
This is done.

[2021-11-05 14:35] #6 closed

[2021-11-05 14:42] RehanSaeed commented on #8
It seems that if I specify a Framework symbol, it uses that now.

[2021-11-05 14:43] RehanSaeed commented on #9
Any updates on this one, it would really help with my template.

[2021-11-05 14:46] RehanSaeed commented on #31
Looks like the checkbox is still there. Any updates on whether we can remove it in future?

![image](https://user-images.githubusercontent.com/2270364/140529406-c41d26a1-f379-433e-a7f1-c6e828795d4b.png)

[2021-11-05 14:48] RehanSaeed commented on #29
Everything now works in VS 2019 and 2022.

[2021-11-05 14:48] #29 closed

[2021-11-05 14:50] RehanSaeed commented on #10
It seems item templates are still not supported in VS 2022.

[2021-11-05 14:52] RehanSaeed commented on #7
Solution templates now exist.

[2021-11-05 14:52] #7 closed

[2021-11-05 16:06] sayedihashimi opened #42 "If .template.config folder is found but no template.json it should be a warning not an error"
If .template.config folder is found but no template.json it should be a warning not an error.

For example this folder doesn't have a `template.json` file https://github.com/dotnet/aspnetcore/tree/release/6.0/src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponentsWeb-CSharp/.template.config. Currently this is reporting as an error, warning is better for this case.

[2021-11-05 16:41] sayedihashimi commented on #9
No update, this work has been stalled.

[2021-11-05 16:42] sayedihashimi commented on #31
This has been in VS for a long time, and is used by most of the other project types. I don't think it will be removed all up.

@phenning should we ask NPD team to see if we can hide this checkbox?

[2021-11-05 16:43] phenning commented on #31
I’ll follow up and see if there is a way we can hide it by passing some metadata.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sayed Ibrahim Hashimi ***@***.***>
Sent: Friday, November 5, 2021 12:42:43 PM
To: sayedihashimi/template-sample ***@***.***>
Cc: Phil Henning ***@***.***>; Mention ***@***.***>
Subject: Re: [sayedihashimi/template-sample] Solution temp

[2021-11-05 16:45] sayedihashimi commented on #10
@RehanSaeed we will have a way to add Item Templates to the New Item Dialog, but we are planning to change the mechanism to get those to appear when .net 7 ships. If we work with you to get your items appearing in the short term, you'll likely need to update when .net 7 rolls out. If that is OK with you, then let's start a mail thread on this topic. I believe you already have my email address, but

[2021-11-05 16:45] sayedihashimi commented on #31
Thanks.

[2021-11-05 16:52] RehanSaeed commented on #10
In that case I'd rather avoid using a preview of .NET 7.

[2021-11-05 16:54] sayedihashimi commented on #10
@RehanSaeed you wouldn't need to use any preview versions of .net. To be more specific, you'll need to add some content to the `ide.host.json` in the short term. Later, if the work happens, in .net 7 you'll need to migrate the item template content from `ide.host.json` into a different form in `template.json`.

[2021-11-12 17:43] sayedihashimi opened #43 "Update analyzer to work cross platform"
Currently it only works on Windows

[2021-11-16 23:06] UmaHarano opened #44 "Using a Wizard with dotnet new project templates"
@sayedihashimi

Can you associate a Microsoft.VisualStudio.TemplateWizard.IWizard with the new dotnet new project templates?
If not, is there an equivalent mechanism?

I am currently using an IWizard with my templates authored using .vstemplate. I would like to switch to the new mechanism.

[2021-11-16 23:07] sayedihashimi commented on #44
In the readme there is a section on how to execute the templates as a part of a VSIX. You can add a custom wizard to that. Let me know if you have more questions.

[2021-11-16 23:46] UmaHarano commented on #44
Thank you! I will check that out.

[2021-11-17 18:23] sayedihashimi commented on #44
I will close this, but if you run into any issues please open new issues with details of the issues.

[2021-11-17 18:23] #44 closed

[2021-11-19 18:14] sayedihashimi opened #45 "Simplify development of vsix"
Some ideas after talking with Mads today.

 1. Make convention to drop .nupkg in ProjectTemplates folder in source folder
 2. Make nuget pkg that users can add to get the target added
 3. On build generate the .pkgdef and add to pipeline
	For the path use RootNamespace-AssemblyName
 4. When installing the package, tranform vsixmanifest to add the asset tag

[2021-11-20 05:21] sayedihashimi opened #46 "Validate files/directories listed in source.modifiers"
Validate files/directories listed in source.modifiers

For example: https://github.com/dotnet/aspnetcore/blob/main/src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/.template.config/template.json#L39

[2021-11-20 05:22] sayedihashimi opened #47 "If 3rd party notices is a url make sure it is valid"
If 3rd party notices is a url make sure it is valid, i.e. 2xx and other status code that represents success.

[2021-11-24 15:25] sayedihashimi opened #48 "Validate that nupkg doesn't have content duplicated"
A few templates have duplicated content due to a [missing property](https://github.com/dotnet/templating/issues/4140#issuecomment-977789274) in the template pack csproj/nuspec. The analyzer should look for duplicate templates in a .nupkg and warn.

[2021-11-25 11:02] JohanPetersson opened #49 "Parameters are not showing up in VS2022"
Not sure where to log these issues, please point me to correct repo if this is not the correct place.

Parameters are not showing up in VS2022. I install my template from a local NuGet package, I'm clearing the cache (.templateengine) between installs and also exit all VS instances before clearing the cache. I've also created an ide.host.json file with the parameters to see if that made any differ

[2021-11-25 16:45] sayedihashimi commented on #49
There is some caching bug that I ran into recently. I’m thinking you are running into the same. You shouldn’t need an ide.host.json anymore for VS2022. Try this, uninstall your template, copy your template to another folder and then install from that new location. Does it work after that?

[2021-11-25 16:46] sayedihashimi commented on #49
Filing bugs here for now is ok. After we figure it out we can move it if needed.

[2021-11-25 17:29] #2 closed

[2021-11-25 17:30] sayedihashimi commented on #5
I’m closing this because Choice params, as well as other types, are showing automatically in VS2022. If there are other issues, please open a new issue. I’m trying to clean up the issues in this repo.

[2021-11-25 17:30] #5 closed

[2021-11-25 17:31] sayedihashimi commented on #10
Question has been answered, closing.

[2021-11-25 17:31] #10 closed

[2021-11-25 17:34] sayedihashimi commented on #24
Closing this since it’s not related to templates.

[2021-11-25 17:34] #24 closed

[2021-11-25 17:34] sayedihashimi commented on #39
I started this work, but it got stalled. May revisit later.

[2021-11-25 17:34] sayedihashimi commented on #42
Should be fixed now

[2021-11-25 17:34] #42 closed

[2021-11-25 17:35] sayedihashimi commented on #43
Should be fixed now

[2021-11-25 17:35] #43 closed

[2021-11-25 17:35] sayedihashimi commented on #46
Should be working in latest changes.

[2021-11-25 17:35] #46 closed

[2021-11-26 08:06] RehanSaeed commented on #49
@sayedihashimi I noticed that `template.json` had a new `displayName` for symbols, so I switched over to that instead of `ide.host.json` but I still use `ide.host.json` for `isVisible`. Are you saying everything is visible now by default and we don't need `ide.host.json`?

[2021-11-26 08:11] RehanSaeed commented on #49
If true I think I still need `ide.host.json` for these settings:

[code]

But can remove all `symbolInfo`:

[code]

[2021-11-26 08:32] JohanPetersson commented on #49
Exited VS, cleared cache, uninstalled template, moved nupgk to different location, and installed. No difference. As I mentioned, other changes in the template do work, but not the properties.

Here's the complete template (with some info replaced with 'xxx')
[code]

I've noticed all examples are using pascal casing on symbols, could that be the issue here?

[2021-11-26 17:59] sayedihashimi commented on #49
@RehanSaeed

No need for `isVisible` any more. By default all parameters will be displayed. You can create a host file to hide parameters if needed.

For the learn more link, you'll need the host file. For the icon, you can drop the `icon.png` and it will get picked up. One thing that I'm not sure of, if you have a host file you may need to define the icon there. If you could try it and let me kno

[2021-11-26 18:00] sayedihashimi commented on #49
@JohanPetersson can you share your template? It will be much easier for me to diagnose it if I can try it. If you can't share it here, you can share it with me privately by emailing me at sayedha [AT] MICROSOFT.

[2021-11-29 09:42] JohanPetersson commented on #49
I've emailed you Sayed. Thanks for taking your time and looking into this.

[2021-11-29 11:06] RehanSaeed commented on #49
I tried removing all symbols in `ide.host.json` but kept the file to set the `order`, `learnMoreLink` and `icon` properties and my symbols no longer show up in VS 2022 Preview except the Framework symbol.

[2021-11-29 17:24] sayedihashimi commented on #49
@phenning is that expected with the current bits?

@JohanPetersson I have replied to your email, we can continue our discussion on email. For other folks looking at this issue, I believe Johan is running into this bug https://github.com/dotnet/templating/issues/4155.

[2021-11-29 18:05] phenning commented on #49
The default if behavior if an ide.host.json is specified is to NOT opt in symbols which are not specified in symbolInfo by default.

However, you can add `"defaultSymbolVisibility": true `to the host file to enable all the symbols even if no symbolInfo is configured. in the case where you don't need to override the text or defaults in Visual Studio. This can be combined with explictly adding a sym

[2021-11-29 18:08] sayedihashimi commented on #49
Thanks @phenning, I will get those details added to the readme here soon.

[2021-11-29 18:09] phenning commented on #49
One note I found from the PR comment I made when I checked this in that may explain the complexity here:

"Note that we cannot treat defaultSymbolVisibility to be true in the cases when a symbol info is not present due to ASP.NET Core templates not specifically excluding most of their symbols."

[2021-11-29 18:24] JohanPetersson commented on #49
I'm happy with your answers and it has resolved my issues now. Closing the issue. Thank you so much.

[2021-11-29 18:24] #49 closed

[2021-11-29 18:39] sayedihashimi commented on #49
For anyone that comes back, the issue was relating to caching. If you are installing with a folder path, workaround is to copy the folder to another folder and install. If you are installing via .nupkg file, change the version number. Hopefully we can get a better workaround soon.

[2021-11-29 21:27] sayedihashimi commented on #49
@phenning when you have a chance, please review my changes to readme to ensure that I didn't misstate anything https://github.com/sayedihashimi/template-sample/commit/1d627e6489a065a21548d7c23a78843c32b14f07.

[2021-11-30 09:34] RehanSaeed commented on #49
I've tried @phenning's suggestion and used `"defaultSymbolVisibility": true` in my `ide.host.json` files while removing all `"isVisible": true`. However, I'm finding that it only works (options show up in VS) for my NuGet template and not the other API, GraphQL and Orleans templates.

- https://github.com/Dotnet-Boxed/Templates/pull/1378

Am I doing something wrong, is there a bug?

[2021-11-30 14:45] phenning commented on #49
@RehanSaeed is the NuGet template the only one with a framework symbol in template.json? Did the other templates work when the symbolInfos re explicit?

[2021-11-30 15:31] RehanSaeed commented on #49
@phenning Yes thats correct!

[2021-11-30 15:35] phenning commented on #49
Can you see if adding a Framework symbol to one of the other templates results in the expected behavior for the other symbols?

It looks like a bug which results in the Additional Information page being skipped if there is no Framework Symbol and zero explicitly enabled symbols.

You may also be able to just define a single symbolInfo for just one of your symbols in order to work around the bug. T

[2021-11-30 17:55] sayedihashimi opened #50 "Doc update: two things"
- https://github.com/dotnet/templating/issues/4156
  - Users may need to cd into a different directory
- When running into the caching bug execute `dotnet new --debug:rebuildcache`
  - https://github.com/dotnet/templating/issues/4155

[2021-11-30 19:45] sayedihashimi commented on #50
added to readme

[2021-11-30 19:45] #50 closed

[2021-12-01 11:53] RehanSaeed commented on #49
@phenning Just tested and adding a `Framework` symbol does work. Adding a single `symbolInfo` also works and it doesn't matter if the `symbolInfo.isVisible` is true or false.

Post actions are not run in Visual Studio (any plans to change that???), so I ended up having to include some `symbolInfo`'s to hide options to skip running them e.g. I have an option to skip opening a TODO.html file.

[2021-12-04 01:00] phenning opened #51 "Solution file naming suggestion for wiki"
Update the docs to include guidance on naming the sln file in template something other then sourceName.sln or defaultName.sln to avoid reload prompt in Visual Studio when the Place solution and project in same folder is checked.

To preserve sourceName.sln naming for dotnet new, a rename can be provided:

If renaming the file in the template, the following source modifier can be used to rename it

[2021-12-06 03:08] sayedihashimi commented on #51
Thanks Phil, added in e730cf61333b434616b4723492d764ed4341b5cc. When you get a chance, please take a look. I'll go ahead and close this, but if we need to update that let me know.

[2021-12-06 03:08] #51 closed

[2021-12-16 14:53] h3rmanj commented on #31
The checkbox still makes a difference for me on VS22 & .NET 6. Is it not supposed to?

[2021-12-16 15:11] phenning commented on #31
We don’t have a way to hide the checkbox, but files should be getting to where they should be regardless of the setting, you just need to make sure that projects are deployed to a sub folder if you want to have solution level items that apply to multiple projects on your solution template.
________________________________
From: Herman Jensen ***@***.***>
Sent: Thursday, December 16, 2021 9:53:36 A

[2021-12-17 09:32] RehanSaeed commented on #31
Also see the same as @h3rmanj. Would appreciate a fix for this as it breaks the build scripts in my template to have the solution in a folder one level up.

[2021-12-20 21:44] sajadkardel opened #52 "ide.host.json file in VS 2022"
Do we need the ide.host.json file in the visual studio 2022?
If not, then how do we show visual studio parameters?

[2021-12-20 23:41] sayedihashimi commented on #52
It’s not needed any more, all parameters will show up by default. All the info is on the readme in the homepage here.

[2021-12-20 23:41] #52 closed

[2022-01-03 17:09] phenning commented on #31
Related: https://github.com/dotnet/templating/issues/3280

[2022-01-03 17:14] phenning commented on #31
I'm working on a fix that should address your scenarios, we will expose three properties additional properties via binding.

SoluitionName (The name of the Solution the project is being added to)
IsExclusive (True if being new solution is being created in via NPD, False if adding to existing solution)
CreateSolutionDirectory (Set to True if the above mentioned checkbox is UNCHECKED, False otherwis

[2022-01-03 17:32] h3rmanj commented on #31
That sounds good. Should be enough for my case at least, to determine what the root of output is, so I can move files afterwards.

Any chance we'll see this soon?

[2022-01-03 21:17] phenning commented on #31
I just committed the change to our main branch for 17.1 Preview 3, so you should see it in the Preview channel when it is released.

Syntax is as follows:
[code]

You can also specify `context:SolutionName` and `context:CreateSolutionDirectory`

[2022-01-17 17:21] ivanpovazan opened #53 "Question: VSIX with Project and Item templates"
I have troubles with a VSIX file which includes project and item templates.
I was following your guide from README and tried to configure the extension to include both Items and Projects template.

1) I have two different packages:
[code]
2) I included them in the VSIX with something like:
[code]
where ProjectTemplatesPackage and ItemTemplatesPackage project properties point to respective .nupkgs

[2022-01-18 21:34] sayedihashimi commented on #53
Hi @ivanpovazan Item templates are not currently supported. We are working with the team that owns dotnet new to get some functionality added so that we can support Item Templates.

[2022-01-18 21:38] ivanpovazan commented on #53
Hi @sayedihashimi,
Thank you for the update. Any estimate on when will this be available?

[2022-01-18 21:44] sayedihashimi commented on #53
@ivanpovazan probably not for a while. If we are able to work out the changes needed in `dotnet new`, those would likely go into .net 7. So some point after that is the earliest.

There is a way to get item templates to work, but it's ***not supported***. I think you can get it to work, but when we change to the new method it will stop working. I want to be clear that if you get it working, and ru

[2022-01-18 21:46] ivanpovazan commented on #53
I see.
To be honest, I would be really interested to explore the "unsupported" path :)
As a backup I have already left Item templates to work with the 'old' vstemplate approach, but would like to experiment.

[2022-01-19 19:32] sayedihashimi commented on #53
# The following is not supported and may break and not get fixed

@ivanpovazan here is the info on how you can surface your Template Engine Item Templates in VS2022. Reminder that this will likely stop working in the future and you'll have to migrate to a new method in the future.

To get Item Templates to appear, you'll need to add a file named `ide.host.json` in the `.template.config` folder.

Y

[2022-01-20 09:58] ivanpovazan commented on #53
Thank you for providing this example.
Is this approach limited to VS 17.1 preview since I see that the item templates are hidden for lower versions?

[2022-01-20 16:09] sayedihashimi commented on #53
Yes, we recently implemented that support. Sorry I forgot to mention that.

[2022-01-26 17:00] sayedihashimi opened #54 "Doc update: how to add values to the dropdowns in VS"
To add to the third dropdown

[code]

To add to the second dropdown
[code]

[2022-01-27 10:48] ivanpovazan commented on #53
Unfortunately, I did not manage to make it work even with VS 17.1.
For now, I will keep the .vstemplate files for the VSIX and for the item template package I have add template.jsons on the same folder structure with a bit of additional configuration.
All in all, I have managed to make the templates from VSIX and from template package generate same results.

Will wait for .net7 to simplify this pr

[2022-02-16 09:06] h3rmanj commented on #31
Hi! I didn't see the changes mentioned in the [17.1 release notes](https://docs.microsoft.com/en-us/visualstudio/releases/2022/release-notes#1710--visual-studio-2022-version-171-newreleasebutton). Are the variables available yet or did it get pushed back to 17.2?

[2022-02-16 11:55] sayedihashimi commented on #31
If you’re asking about IsExclusive, it should be in 17.1

[2022-02-19 16:05] RehanSaeed commented on #31
So `CreateSolutionDirectory` is a new built in symbol that we can check to determine whether the user enabled that setting in the UI. However, how can I prevent the user enabling it in the first place? That setting doesn't make sense for my template and messes up a few relative file paths.

[2022-02-19 17:28] phenning commented on #31
The template provider does not have a way to tell the new project dialog to not display this UI element since the IDE's API surface

The new context properties were implemented to allow the setup of source renames to fix up the relative paths.

[2022-02-26 16:04] seangwright opened #55 "Issue with package folder nesting"
First off, thanks for all the work on .NET templates. I now have a solution template for my company's internal projects and it appears to be working great. It's a real timesaver when scaffolding new projects, but the best part is that the original template code is buildable/runnable which means we can easily keep it up to date.

## Issue - Package folder nesting

I was running into issues with the

[2022-03-02 18:44] sayedihashimi commented on #55
Hi @seangwright I'm happy that you are finding value in this new experience.

This is one of the foundational ideas that the `dotnet new` experience was built around. I believe it's the first widely used 'template engine' to have this approach.

I think the folder structure issues that you ran into would be a great addition to the doc. If you have time to submit a PR that would be great!

Regardin

[2022-05-06 17:23] dositec opened #57 "Create Blank Solution template"
Hello,
Could you please help me and clarify what I should write in template.json or in ide.host.json to create template which will run solution creation wizard without project name input. It's realized in Blank Solution template, but I cannot reproduce such behavior in my template.

![image](https://user-images.githubusercontent.com/10861668/167180523-b10d43bd-6407-4844-8604-c8e16e8eda7e.png)

---

[2022-05-06 17:39] dositec commented on #57
thx, but maybe there is a workaround and I can hide "Project name" in  ide.host.json via, for example like below, but "id" will be different?

[code]

[2022-05-06 17:45] sayedihashimi commented on #57
The contents of `template.json` and `*.host.json` will influence the `Additional Info` page, we don't have a chance to influence the first page. I'm adding @phenning to ensure that I'm not saying anything incorrect. He's on vacation until next week so he may not reply soon here, but I'm pretty confident in my statements.

[2022-05-06 18:24] sayedihashimi opened #58 "Create MSBuild task to run the analyzer"
It would be nice to have an MSBuild task that will run the analyzer.
This package should be added to the "pack .csproj".
When implemented we should update the item template for the templatepackproj to include this reference.

[2022-05-07 08:07] dositec opened #59 "Instantiating VS template with correct solution"
Hello Sayed,
Would you help me again please?
I have created nuget template for VS with the following structure:
[code]
How I can reproduce same structure after expanding of template via Visual Studio?
Currently in the best variant(when the "Place solution and folder in the same directory" checkbox enabled): VS will generate extra .sln file in one level with "Sources" folder and open it in VS. But

[2022-05-09 18:41] sayedihashimi commented on #59
From within VS we don't have good support for these types of scenarios unfortunately. We had a discussion regarding this over at https://github.com/sayedihashimi/template-sample/issues/31.

[2022-05-23 11:27] dositec opened #60 "How to ignore preprocessor configuration for dotnet template expanded code?"
I have a template with the following code:

[code]

After expansion I have:
[code]
What settings should I set so my template expands without any preprocessor changes?

[2022-05-23 16:15] sayedihashimi commented on #60
Hi @dositec see the wiki which covers this https://github.com/dotnet/templating/wiki/Conditional-processing-and-comment-syntax#ignore-conditions-expressions-in-language-files. If that's working for you, please close this issue, and if not please let me know what's happening.

[2022-05-24 04:28] c2develop opened #61 "how to implement solution folders concept using templates"
i was trying to set up a template for my multiproject  web-api project following clean architecture model. I have an API project, Application project Infrastructure project and Framework Projects and unit test projects .  Currently these are in /src and /tests projects . I wanted to see how i can implement the solution folders for better visualization of the projects . Wanted to see if there is a

[2022-05-25 10:40] dositec commented on #60
Hello, thank you for the link, I have corrected my template with help of the following comments, ant it helped me:
[code]
To be honest, I expect the C# preprocessor to don't work by default, in my template. It may be my suggestion, but it's up to you. Also thank you for the fast support help, I think new template engine it's cool feature, but I feeling a lack of real examples for difficult templat

[2022-05-25 19:22] sayedihashimi commented on #60
@dositec there is a sln sample in this repo at https://github.com/sayedihashimi/template-sample/tree/main/src/Content/SolutionTemplate as well as doc in the readme here.

I think the questions have been answered, so I'll close this issue. If not, please reopen with whatever questions you still have here.

[2022-05-25 19:22] #60 closed

[2022-06-04 04:59] #57 closed

[2022-06-04 05:01] sayedihashimi opened #62 "Warn when using guid format property"
Warn when using guid format property, see https://github.com/dotnet/templating/issues/4186#issuecomment-1087898201

[2022-06-13 21:21] bboy77 opened #63 "dotnetnew.azurewebsites.net update schedule"
HI,

How often does dotnetnew.azurewebsites.net update current template packages?

 I currently have old versions on the site and would like to have the following package uploaded if possible.

https://www.nuget.org/packages/AebSolutions.CodeConvention.SolutionTemplates version 6.6.0

[2022-06-13 22:08] sayedihashimi commented on #63
It should update every night, but I’ve noticed that in some cases I have to special case packages to get picked up. I made a change https://github.com/sayedihashimi/dotnet-new-web/commit/a470a33e8ca503c3c0a80d996c44807148eb82fd that should hopefully pick it up. I’m on vacation so don’t have access to a PC to manually kick it off. It it’s not updated tomorrow this time, please comment here and I wi

[2022-06-13 22:11] sayedihashimi commented on #63
It looks like it’s there https://dotnetnew.azurewebsites.net/pack/AebSolutions.CodeConvention.SolutionTemplates are you saying that the info displayed isn’t updated?

[2022-06-13 22:17] bboy77 commented on #63
It shows 6 templates with outdated descriptions currently. I have 7 templates with the most important one being
https://github.com/bboy77/Templates/tree/main/SolutionTemplates/Content/Multi-ProjectEx/.

I believe the template links are from last fall.

[2022-06-13 22:37] sayedihashimi commented on #63
I will have to take a look when I get back. Sorry this is happening.

[2022-06-13 22:46] bboy77 commented on #63
Thanks for the response, I appreciate it.

[2022-06-25 03:53] sayedihashimi commented on #63
Hi @bboy77, I figured out what the problem was. My CI build was broken for the past 20 days, so the website wasn't getting updated 🤣🤣🤣🤣. It broke right before I went on vacation.

Sorry about that. After fixing the build, I verified that your latest package was appearing in the download log and that there are 7 templates appearing on the website https://dotnetnew.azurewebsites.net/pack/AebSolution

[2022-06-25 03:53] #63 closed

[2022-06-25 23:37] bboy77 commented on #63
Everything looks great, thanks again!

I have enjoyed creating templates for the last few years and your content and tutorials online got me started.

[2022-06-26 00:43] sayedihashimi commented on #63
Thanks @bboy77, that is really great to hear. Please let me know if you have any questions in the future.

[2022-08-07 16:58] damienbod opened #65 "HTTP Port not working correctly in Visual Studio for solution template"
Thanks for this great repo. I had a small issue with HTTP ports when trying to implement this. Not sure if this is a bug, or a mistake from me, or a new feature request.

I would like to add an auto generate HTTP port to to the template file, it does not work correctly in Visual Studio

link to src where I tried this:

https://github.com/damienbod/Blazor.BFF.OpenIDConnect.Template/blob/main/conten

[2022-08-07 17:39] sayedihashimi commented on #65
Please take a look at this sample https://github.com/sayedihashimi/template-sample/blob/main/src/Content/MyWebApp/.template.config/template.json

[2022-08-07 17:44] sayedihashimi commented on #65
Also see the content in the readme here https://github.com/sayedihashimi/template-sample/blob/main/src/Content/MyWebApp/.template.config/template.json

[2022-08-07 19:19] damienbod commented on #65
@sayedihashimi

Thanks for you response. I tried tried and had problems in VS. The CMD worked perfect. Will validate this again, maybe it was cache or something.

Greetings Damien

[2022-08-07 19:24] sayedihashimi commented on #65
You're probably running into a caching issue. If working with a folder, change the folder path. If working with a .nupkg change the version.

cc @baronfel

[2022-08-07 19:34] baronfel commented on #65
We've tried to address this for .net 7 by rebuilding the cache more frequently for folder-based installs: https://github.com/dotnet/templating/issues/4155

@damienbod can you see if using a .net 7 preview gives you a better testing experience?

[2022-08-07 19:39] damienbod commented on #65
Thanks, I try this

[2022-08-09 16:33] sayedihashimi commented on #65
I think this has been resolved, so I'll go ahead and close this. Plese reopen with more info if you still need help here.

[2022-08-09 18:59] GreenEleven commented on #31
Has there been any fix implemented? I'm not too sure what I should be doing with context:CreateSolutionDirectory to fix the issue, as I'm fairly new to the templating.

Also, why am I getting a perfect output when using **dotnew new <template-name> -o WebApi**, but when generated in Visual studio, I absolutely need to have the checkbox is checked to get the good directory tree?

[2022-08-15 20:27] damienbod commented on #65
Hi @sayedihashimi

found a small problem in the http port generator in a solution template. In visual studio, when using a HTTP parameter for the port, if this is left blank in visual studio, the template creates an empty solution.

Greetings Damien

[2022-08-15 20:30] sayedihashimi commented on #65
Does the parameter have a default value?

[2022-08-15 21:17] damienbod commented on #65
I wanted to use to auto-generated port number. I used this:
[code]

[2022-08-16 17:16] sayedihashimi commented on #65
I think that should work. Do you have a sample you can share with me so that I can take a look?

[2022-08-17 18:03] #61 closed

[2022-08-17 18:03] #59 closed

[2022-08-18 07:46] damienbod commented on #65
@sayedihashimi

When I use this inside Visual Studio 22 and leave the HTTP port empty when I click to create, then a solution is created with no projects.

Here's an example:

[code]

[2022-08-18 18:05] sayedihashimi commented on #65
@damienbod I sent a PR https://github.com/damienbod/Blazor.BFF.OpenIDConnect.Template/pull/21 to add a default value for that, as well as a couple other minor changes. Symbols is declared as

[code]

If the user deletes the default value and leaves it blank nothing is created. Will work with Phil when he is back to see what's happening there.

[2022-08-18 18:23] sayedihashimi commented on #65
I added `isRequired` to the port param. It's not being enforced yet, but we will be adding that support soon.

[2022-11-02 17:07] mattkirschner opened #66 "Remove source control configuration from generated projects"
My template project is connected to TFS source control and I'm having a heck of a time removing all the related bindings from new projects using this template. Right now, creating a new project results in a prompt stating that "The solution you are opening is bound to source control on...".

Is there any documentation that explains how and what to exclude in order to prevent new projects from reta

[2022-11-02 20:10] mattkirschner commented on #66
Looking into this a little more, the issue seems to be with a few lines in the .sln file that need to be removed. Is there any documentation on how to edit the solution file during template install?

[2022-11-02 20:16] sayedihashimi commented on #66
Hi, I think this would be better asked over at https://github.com/dotnet/templating/issues. We will need their help to answer this particular question.

[2022-11-02 22:08] mattkirschner commented on #66
Ah, thanks - I didn't even think to look there. New issues here: https://github.com/dotnet/templating/issues/5544

[2022-11-02 22:08] #66 closed

[2022-11-03 00:11] sayedihashimi commented on #66
Thanks. We discuss some issues here, but this is beyond the scope of what we can help with here.